.background {
  background-image: url("https://ik.imagekit.io/9muwkffn9/REVAMP-MERN%20Stack/todolistbg.webp");
  height: 650px;
  width: 395px;
  background-size: cover;
  background-repeat: no-repeat;
}
