.para{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    line-height: 50px;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
    width: 500px;
    height: 100px;
    margin: 50px;
    padding: 50px;
}