.bg-image{
    background-image: url("https://ik.imagekit.io/9muwkffn9/REVAMP-MERN%20Stack/foodmunch-banner-bg.webp");
    height: 525px;
    background-size: cover;
    background-repeat: no-repeat;


}